/* General setup */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  max-width: 800px;
  padding: 2em;
}

/* Layout */
.logo {
  padding: 2em;
  margin-top: -11em;
  max-width: 100%;
  float: left;
  margin-right: 1em;
}

/* header  */

h1 {
  color: #93c501;
}

.topDocument {
  width: 800px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.218),
    rgba(0, 0, 0, 0)
  );
  height: 10em;
  margin-bottom: 1em;
}

header {
  margin-top: 4em;
  border-top: 5px solid #a66;
  width: 800px;
}

header h1 {
  text-align: center;
}

/*Section */
section {
  min-width: 60%;
  float: left;
  width: 60%;
  padding: 1em;
}

h2 {
  color: #a66;
}

section ul li {
  list-style: none;
}

section ul li::before {
  list-style: none;
  content: "✔️";
  color: #a66;
}

/* Aside */

aside ul li {
  list-style: none;
  margin: 1em;
}

a {
  text-decoration: none;
}

aside li::before {
  content: "📰";
}

aside {
  margin-top: 2em;
  float: left;
  width: 20%;
}

section ul {
  padding-left: 2em;
}

/*Nav*/

nav li {
  list-style: none;
  margin: 2em;
}

nav {
  margin-top: 1em;
  float: left;
  width: 20%;
  font-size: 1em;
}

nav li a {
  background-color: rgba(198, 95, 95, 0.887);
  margin: 1em;
  padding: 0.5em;
  text-decoration: none;
  color: wheat;
  border-radius: 6px;
}

nav li a:hover {
  background-color: rgba(198, 95, 95, 0.707);
  color: white;
  box-shadow: darkgray 2px 2px 2px;
}

/* footer */

footer {
  clear: both;
  width: 800px;
  border-bottom: 5px solid #a66;
  margin-bottom: 1em;
}

footer img {
  max-width: 100%;
}

footer p {
  font-size: small;
  text-align: center;
  color: darkgray;
}

.bottomDocument {
  width: 800px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(17, 17, 17, 0.567)
  );
  height: 8.9em;
}
